.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.name{
    color: white;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    padding: 20px;
    padding-left: 200px;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
}
.name:hover{
    color: transparent;
    transition: 500ms ease;
    

}

.head_links{
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    padding-right: 200px;
}
.head_link{
    
    font-size: 22px;
    font-weight: normal;
    display: flex;
    margin: 16px;
    
}
.header{
    background-color: rgb(2, 53, 7);
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

a{
    color:rgb(174, 174, 174);
    text-decoration: none;

}


.head_content{
    padding-top: 20px;
    background-color: rgb(2, 53, 7);
    color: white;
    display: flex;
    padding-left: 200px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}
.head_msg{ /*Thanks for stopping by*/
    font-size: 48px;
    padding-right: 120px;
    min-width: 400px;
    padding-bottom: 10px;
    
}

.head_txt{ /*this website was designed in conjunction...*/
    color:rgb(174, 174, 174);
    display: flex;
    font-size: 24px;
    max-width: 462px;
    align-items: flex-start;
    

}

.odin{
    display: flex;
    max-width: 690px;
    max-height: auto; 
  
}
.image{
    display: flex;

}
#odin_button{
    display: flex;
    color: white;
    background-color: rgb(230, 157, 0);
    border-color:rgb(230, 157, 0);
    border-radius: 15px;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#odin_button:hover{
    background-color: rgb(230, 138, 0)
}
.head_button{
    display: flex;
    max-width: 462px;
    justify-content: flex-start;
}
.mid{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}

.qualifications{
    font-size: 48px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    color:black;
}

.logo_section_cont{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.box{
    display: flex;
    border: 4px solid rgb(230, 157, 0);
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
   
}

.caption{
    width: 150px;

    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}
.logo{
    max-height: 95%;
    max-width: 95%;
    padding: 10px;

}

.last{
    display: flex;
    flex-basis: 100%;
}

.about{
    background-color: rgb(193, 173, 148);
    min-height: 300px;
    display: flex;
    
    flex-wrap: wrap;
    

}
.about_title{
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding: 50px;
   
}

.about_content, .about_content_2{
    display:inline-block; /*going to need this if you decide to center the text. The <em> tag screws things up because flexbox. */
    margin-left: 40px;
    background-color: rgb(2, 53, 7);
    color: rgb(193, 173, 148);
    border: 5px solid rgb(2, 53, 7);
    padding: 20px;
    border-radius: 15px;
    font-size: 24px;
    margin-bottom: 50px;
    max-width: 700px;
    max-height: 230px;
    
    

}

.about_content:hover, .about_content_2:hover{
    color: rgb(230, 157, 0);
}
#question{
    font-size: 30px;
}
#creativity{
    margin-top: 150px;
    margin-right: 40px;
}
.about_container{
    display: flex;
    
    justify-content: space-between;
}


form {
    /* Center the form on the page */
    margin: 80px auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(230, 157, 0);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 95px;
  }


  .footer{
    background-color: rgb(2, 53, 7);
    color: rgb(174, 174, 174);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  