.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.name{
    color: white;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    padding: 20px;
    padding-left: 200px;
}

.head_links{
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    padding-right: 200px;
}
.head_link{
    
    font-size: 22px;
    font-weight: normal;
    display: flex;
    margin: 16px;
    
}
.header{
    background-color: rgb(2, 53, 7);
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

a{
    color:rgb(174, 174, 174);
    text-decoration: none;

}


.head_content{
    padding-top: 20px;
    background-color: rgb(2, 53, 7);
    color: white;
    display: flex;
    padding-left: 200px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}
.head_msg{ /*Thanks for stopping by*/
    font-size: 48px;
    padding-right: 120px;
    min-width: 400px;
    padding-bottom: 10px;
    
}

.head_txt{ /*this website was designed in conjunction...*/
    color:rgb(174, 174, 174);
    display: flex;
    font-size: 24px;
    max-width: 462px;
    align-items: flex-start;
    

}

.odin{
    display: flex;
    max-width: 690px;
    max-height: auto; 
  
}
.image{
    display: flex;

}
button{
    display: flex;
    color: white;
    background-color: rgb(230, 157, 0);
    border-color:rgb(230, 157, 0);
    border-radius: 15px;
    font-size: 22px;
    margin-top: 20px;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.head_button{
    display: flex;
    max-width: 462px;
    justify-content: flex-start;
}
.mid{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}

.qualifications{
    font-size: 48px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    color:rgb(2, 53, 7);
}

.img_cont, .img_cont_lower{
    display: flex;
    max-width: 900px;
    
    gap: 60px;

}
.img_cont_two, .img_cont_two_lower{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}
.img_cont_two_lower{
    margin-top: 100px;
}
.logo, .logo_2{
    display: flex;
    
    border: 4px solid rgb(230, 157, 0);
   
    border-radius: 15px;
    align-self: flex-start;
}
.logo{
    min-width: 0; /*allow img to shrink beyond size of content*/
    width: 100%;/*make items flexible*/
    height: auto;/*...*/
}
.logo_2{
    min-width: 0; /*allow img to shrink beyond size of content*/
    width: 16%;/*make items flexible*/
    height: auto;/*...*/
}
/*
.border_1{
    display: flex;
    border: 2px solid rgb(20, 171, 35);
    max-width: 200px;
    max-height: 100px;
}
*/


.git{ /*make border box correct size*/
    padding-top: 61.515px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.aws{ /*make border box correct size*/
    padding: 10px;
}
.linux{ /*make border box correct size*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3.66px;
    padding-bottom: .755px;
}
.oracle{ /*make border box correct size*/
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
.python{
    padding-top: 15px;
    padding-right: 14.5px;
    padding-left: 14.5px;
    
    
}
.java{
    padding: 14.5px;
}

.caption{
    display: flex;
    
    justify-content: center;
    max-width: 900px;
    text-align: center;
    gap: 60px;
    
}

.aws-cap{
    padding-left: 25px;
}
.git-cap{
    padding-left: 25px;
}

.quote{
    background-color: rgb(215, 215, 215);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quote_content{
    font-size: 48px;
   
}

