.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.name{
    font-size: 54px;
    font-weight: 700;
    display: flex;
}
.head_links{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.head_link{
    font-size: 14px;
    font-weight: normal;
    display: flex;
    margin: 4px;
}
.header{
    background-color: rgb(2, 53, 7);
    color: white;
    display: flex;
    justify-content: space-between
}

a{
    text-decoration: none;
    color: white;
}
